In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

##### SYNTAX ERROR

In [1]:
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

##### TYPE ERROR

In [2]:
#method1  x passing as global variable

x = 10
def my_function():
    global x
    x += 5
    print(x)


my_function()

15

In [3]:
#method2 passing x as an argument
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

##### SYNTAX ERROR

In [4]:
#equality operator have to use
if x == 10:
    print("x is 10")

x is 10

In [5]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

numbers.sort() will sort the numbers in the original list itself
and then print numbers will give the correct results.
Directly printing numbers.sort()  will sort it but prints none

In [6]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

##### SYNTAX ERROR
return statement is missing

In [7]:
#5.
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

cannot modify tuples
converting into list and change the value and change to tuples

In [8]:
#6.
my_tuple = (1, 2, 3)
my_tuple = list(my_tuple)
my_tuple[1] = 5
tuple(my_tuple)

(1, 5, 3)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

##### TYPE ERROR

In [9]:
#7. arguments are missing as compared with formatstrings 
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

| Operator | Checks for...                 | In this case |
| -------- | ----------------------------- | ------------ |
| `==`     | Value equality                | ✅ True      |
| `is`     | Object identity (same memory) | ❌ False     |

a is b will check for the object name same or diff. 
a == b only will check for content /values

In [ ]:
#9.
for i in range(5, 1):
    print(i)

the starting number is greater, and ending number is smaller there is no meaning in incrementing it wont print nothing

In [10]:
#9.
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

dicitionary keys must be access as a  string

In [11]:
#10.
student = {"name": "John", "age": 20}
print(student['name'])

John